.center {
    margin: auto;
}

.form_input {
    display: block;
    margin-top: 11px;
    width: 256px;
    height: 51px;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.overlay {
    animation: 200ms ease-in-out 0s 1 appear;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: visible;
}


.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
}

