{{ block "games" . }}
{{ range .Games }}
<div class="game">
    <div class="game_header">
        <div class="date"> {{ .Date }} </div>
        <div class="day_of_week"> {{ .Weekday }} </div>
    </div>
    <div class="game_inner">
        <div class="game_title">
            <div class="game_name">{{ .Name }}</div>
            <div class="horizontal_line"></div>
            <div class="game_comment">{{ .Comment }}</div>
        </div>

        <div class="game_info">
            <div class="date"> {{ .Time }} </div>
            <div class="day_of_week"> {{ .Location }} </div>
        </div>

        <button
            hx-get="/registration_form/{{ .ID }}"
            hx-target="#main"
            {{ if .IsActive }}
            class="active"
            {{ else }}
            class="inactive"
            disabled
            {{ end }}>
            {{ .ButtonText }}
        </button>
    </div>
</div>

{{ end }}
{{ end }}
