{{ block "index" . }}
<!DOCTYPE HTML>
<html>
    <head>
        <title>КвизON</title>
        <meta charset="UTF-8">

        <script src="https://unpkg.com/htmx.org@1.9.11"></script>

        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">

        <link href="https://fonts.cdnfonts.com/css/product-sans" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="header"></div>

        <div id="main">
            {{ template "games" . }}
        </div>

        <div id="footer"></div>
    </body>
</html>
{{ end }}
